/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    /* outline: 1px solid firebrick; */
}
  
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --primary-color: white;
    --title-font-size: 6rem;
}

@font-face {
    font-family: "Norse Bold";
    src:
        url("./fonts/norse-bold-webfont.woff2") format("woff2"),
        url("./fonts/norse-bold-webfont.woff") format("woff");
    font-weight: bold;
}

body {
    /* Display styles */
    display: flex;

    /* Font styles */
    font-family: 'Courier New', Courier, monospace;

    /* Background styles */
    background-color: #f9fafb;
}

aside {
    /* Position styles */
    position: relative;

    /* Width and height styles */
    width: 70%;
    height: 100vh;
}

div.logo-container {
    /* Display styles */
    display: flex;

    /* Position styles */
    position: absolute;
    top: 10%;

    /* Width and height styles */
    width: 100%;
    height: 150px;

    /* Padding styles */
    padding: 1em;
    
    /* Flex styles */
    justify-content: center;

    /* Background styles */
    background-color: rgba(0, 0, 0, 0.5);
}

div.logo-container > img {
    object-fit: contain;
}

div.logo-container > h1 {
    /* Flex styles */
    align-self: center;
    
    /* Font styles */
    font-family: "Norse Bold", 'Courier New', Courier, monospace;
    font-size: var(--title-font-size);
    line-height: var(--title-font-size);
    color: var(--primary-color);
}

.cover-photo {
    /* Width and height styles */
    width: 100%;
    height: inherit;
    
    object-fit: cover;
}

footer {
    /* Display styles */
    display: flex;

    /* Position styles */
    position: absolute;
    bottom: 0;

    /* Width and height styles */
    width: 100%;

    /* Padding styles */
    padding: 0.5em;

    /* Flex styles */
    justify-content: center;

    /* Font styles */
    color: var(--primary-color);
    
    /* Background styles */
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-links {
    /* Font styles */
    color: var(--primary-color);
}

main {
    /* Display styles */
    display: flex;

    /* Flex styles */
    flex-direction: column;
    justify-content: center;
}

h2 {
    /* Margin styles */
    margin-bottom: 2.5em;
    margin-left: 2em;
}

section {
    /* Padding styles */
    padding: 1em 3em 2em;

    /* Margin styles */
    margin-bottom: 2em;

    /* Background styles */
    background-color: var(--primary-color);

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    /* Width and height styles */
    width: fit-content;

    /* Padding styles */
    padding: 0.5em 2.5em;

    /* Margin styles */
    margin-bottom: 2em;
    margin-left: 3em;

    /* Border styles */
    border: none;
    border-radius: 0.5em;

    /* Font styles */
    font-weight: bold;
    color: var(--primary-color);

    /* Background styles */
    background-color: #266fa4;
}

button[type="submit"]:hover {
    /* Background styles */
    background-color: #145172;

    cursor: pointer;
}

main > p {

    width: fit-content;
    /* Margin styles */
    margin-left: 3em;
}

.login-link {
    /* Font styles */
    font-weight: bold;
    text-decoration: none;
    color: #266fa4;
}